.BookPage {
  background: #efefef;
  margin: 2rem 2rem 3rem 2rem;
  padding: 1rem 2rem 1rem 2rem;
  list-style: none;
}

.BookPage h3 {
  text-align: center;
}

.Entry h3 {
  text-align: left;
}

.Entry .italic {
  font-style: italic;
}

.BookPage .bold {
  font-weight: bold;
}

.BookPage ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.BookPage__entries {
  margin: 0;
  padding: 0;
}

.BookPage__button-container button {
  margin: 1rem 1rem 1rem 0;
}

.BookPage__button-container-move {
  margin: 1rem;
  text-align: center;
}

.BookPage__button-container-move button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem 2rem 1rem;
}

.button-left {
  float: left;
}

.button-right {
  float: right;
}
