.ReviewForm {
  margin-bottom: 3rem;
}

.ReviewForm h2 {
  font-weight: bold;
}

.ReviewForm form {
  background: #efefef;
  margin: 2rem;
  padding: 2rem;
}

.bold {
  font-weight: bold;
}

.ReviewForm #review_rating {
  margin-left: 1rem;
}

.ReviewForm #book-date-finished {
  margin-left: 0.4rem;
}

.ReviewForm input,
.ReviewForm textarea {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.ReviewForm textarea {
  width: 300px;
  height: 100px;
}

.ReviewForm input[type="radio"] {
  margin-left: 2rem;
}

.ReviewForm__button-container {
  margin-top: 1rem;
  text-align: center;
}

.ReviewForm__button-container button {
  margin-right: 1rem;
}
