.Home {
  overflow: hidden;
  margin: 2rem;
  text-align: center;
}

.bold {
  font-weight: bold;
}

/* TABLET / DESKTOP */
@media only screen and (min-width: 600px) {
  .Home {
    font-size: 20px;
  }
}
