/* FORM */

.BookEdit form {
  background: #fff2e6;
  margin: 1rem;
  padding: 1.5rem 1.5rem 2rem 1.5rem;
  border-radius: 10px;
}

.BookEdit label {
  width: 75px;
  text-align: left;
  font-weight: bold;
  margin-right: 5px;
}

.BookEdit input {
  min-width: 95%;
  max-width: 95%;
  margin-bottom: 1rem;
}

.BookEdit select {
  min-width: 95%;
  max-width: 95%;
  margin-bottom: 1rem;
}

/* TEXT */
.BookEdit h2 {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}

form label {
  color: #2b1c11;
  font-size: 16px;
}

form input,
form select {
  font-size: 14px;
}

.italic {
  font-style: italic;
}

/* BUTTONS */
.BookEdit button {
  background-color: #f2ddc9;
  border-radius: 10px;
  border: 1px solid #d08c65;
  display: inline-block;
  cursor: pointer;
  color: #2b1c11;
  font-family: Montserrat;
  font-size: 11px;
  font-weight: bold;
  padding: 6px 20px;
  text-transform: uppercase;
  text-decoration: none;
  word-spacing: 2px;
  transition: 0.5s ease-in-out;
}

.BookEdit button:hover {
  background-color: #fff2e6;
}

.BookEdit__button-container {
  text-align: center;
  margin-top: 1rem;
}

.BookEdit__button-container button {
  margin-right: 1rem;
}

/* TABLET */
@media only screen and (min-width: 600px) {
  /* FORM */
  .BookEdit form {
    background: #fff2e6;
    margin: 2rem 4rem 2rem 4rem;
    padding: 3rem 4rem 3rem 5rem;
  }

  .BookEdit label {
    width: 75px;
    text-align: left;
    font-weight: bold;
    margin-right: 5px;
  }

  .BookEdit input {
    min-width: 95%;
    max-width: 95%;
    margin-bottom: 1rem;
  }

  .BookEdit select {
    min-width: 95%;
    max-width: 95%;
    margin-bottom: 1rem;
  }

  /* TEXT */
  .BookEdit h2 {
    font-size: 24px;
  }

  form label {
    font-size: 18px;
  }

  form input,
  form select {
    font-size: 16px;
  }

  /* BUTTONS */
  .BookEdit button {
    font-size: 11px;
  }

  .BookEdit__button-container {
    text-align: center;
    margin-top: 1rem;
  }

  .BookEdit__button-container button {
    margin-right: 1rem;
  }
}

/* DESKTOP */
@media only screen and (min-width: 1080px) {
  /* FORM */
  .BookEdit form {
    background: #fff2e6;
    margin: 2rem 8rem 2rem 8rem;
    padding: 4rem 6rem 4rem 8rem;
  }

  .BookEdit label {
    display: inline-block;
    width: 150px;
    text-align: left;
    font-weight: bold;
    margin-right: 5px;
  }

  .BookEdit input {
    min-width: 95%;
    max-width: 95%;
    margin-bottom: 1rem;
  }

  .BookEdit select {
    min-width: 95%;
    max-width: 95%;
    margin-bottom: 1rem;
  }
}
