@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  font-family: Montserrat;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

/* FOOTER */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #6b6b6b;
  padding: 0.1rem;
  text-align: center;
  color: #ffffff;
  font-size: 0.8rem;
}

/* FORMS */
input,
textarea,
select {
  font-family: Montserrat;
}
