.About {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.About__description {
  background: #fff2e6;
  margin: 0 1rem 0 1rem;
  padding: 1.5rem 1.5rem 1rem 1.5rem;
  border-radius: 10px;
}

.About__intro {
  margin-bottom: 30px;
}

.About ul {
  padding-left: 25px;
}

.About ul li {
  padding-left: 0;
  padding-bottom: 10px;
}

/* TEXT */
.About h2 {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}

.About h3 {
  font-size: 18px;
}

.About__intro {
  text-align: center;
  font-size: 16px;
}

.About ul li {
  font-size: 14px;
}

.About .bold {
  font-style: bold;
}

.About .italic {
  font-style: italic;
}

/* TABLET */
@media only screen and (min-width: 600px) {
  .About__description {
    margin: 0 3rem 4rem 3rem;
    padding: 1.5rem 2rem 1.5rem 2.5rem;
  }

  .About__intro {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2.5rem;
  }

  .About ul {
    padding-left: 50px;
    padding-right: 20px;
  }

  .About ul li {
    padding-bottom: 10px;
  }

  /* TEXT */
  .About h2 {
    font-size: 24px;
  }

  .About h3 {
    font-size: 20px;
  }

  .About__intro {
    font-size: 18px;
  }

  .About ul li {
    font-size: 16px;
  }

  .About .bold {
    font-style: bold;
  }

  .About .italic {
    font-style: italic;
  }
}

/* DESKTOP */
@media only screen and (min-width: 1080px) {
  .About__description {
    margin: 0 4rem 4rem 4rem;
    padding: 2rem 2.5rem 1.5rem 2.5rem;
  }

  .About__intro {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2.5rem;
  }

  .About ul {
    padding-left: 50px;
    padding-right: 20px;
  }

  .About ul li {
    padding-bottom: 10px;
  }
}
