.BookList {
  margin: 1rem 1rem 3rem 1rem;
}

.BookList__button-add {
  margin-left: 2rem;
}

.BookList ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.BookList li {
  background: #efefef;
  margin: 2rem;
  padding: 1rem 2rem 1rem 2rem;
}

.BookList li p {
  padding-left: 1rem;
}

.BookList h3 {
  text-align: center;
}

.BookList .italic {
  font-style: italic;
}

.BookList .bold {
  font-weight: bold;
}
