/* HEADER */
header {
  background: #fff2e6;
  padding: 1rem;
  text-align: center;
}

header a {
  color: #2b1c11;
  text-decoration: none;
}

/* NAV */
nav {
  background: #e2ac8c;
  padding: 0.5rem;
  text-align: center;
}

nav a {
  color: #2b1c11;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: 1px;
}

nav a:hover {
  cursor: pointer;
  color: #2b1c11;
  font-weight: bold;
}

/* TEXT */
nav {
  font-size: 1rem;
}

/* TABLET */
@media only screen and (min-width: 600px) {
}

/* DESKTOP */
@media only screen and (min-width: 1080px) {
}
