.EntryList {
  margin: 1rem 1rem 3rem 1rem;
}

.EntryList h2,
.EntryList h3 {
  text-align: center;
}

.EntryList__button-add {
  margin-left: 2rem;
}

.EntryList ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.EntryList li {
  background: #efefef;
  margin: 2rem;
  padding: 1rem 2rem 1rem 2rem;
}

.EntryList li p {
  padding-left: 1rem;
}

.EntryList .italic {
  font-style: italic;
}

.EntryList .bold {
  font-weight: bold;
}

.EntryList .large {
  font-size: 1.1rem;
}

.EntryList .small {
  font-size: 0.85rem;
}
