.EntryList {
  margin: 1rem 1rem 2rem 1rem;
}

.EntryList ul {
  list-style: none;
  padding: 0;
}

.EntryList li {
  background: #fff2e6;
  margin-bottom: 1rem;
  padding: 0.5rem 1.5rem 0.1rem 1.5rem;
  border-radius: 10px;
}

/* TEXT */

.EntryList h2,
.EntryList h3 {
  text-align: center;
}

.EntryList h2 {
  font-size: 22px;
}

.EntryList .Entry h3 {
  font-size: 18px;
}

.EntryList .Entry p {
  font-size: 14px;
}

.EntryList .large {
  font-size: 16px;
}

.EntryList .small {
  font-size: 12px;
}

.EntryList .bold {
  font-weight: bold;
}

.EntryList .italic {
  font-style: italic;
}

/* TABLET */
@media only screen and (min-width: 600px) {
  .EntryList {
    margin: 1rem 1rem 4rem 1rem;
  }

  .EntryList__button-add {
    margin-left: 2rem;
  }

  .EntryList li {
    margin: 2rem;
    padding: 1rem 2rem 0 2rem;
  }

  .EntryList li p {
    padding-left: 1rem;
  }

  /* TEXT */

  .EntryList h2 {
    font-size: 24px;
  }

  .EntryList .Entry h3 {
    font-size: 20px;
  }

  .EntryList .Entry p {
    font-size: 16px;
  }

  .EntryList .large {
    font-size: 18px;
  }

  .EntryList .small {
    font-size: 14px;
  }
}

/* DESKTOP */
@media only screen and (min-width: 1080px) {
  .EntryList {
    margin: 1rem 1rem 4rem 1rem;
  }

  .EntryList__button-add {
    margin-left: 3rem;
  }

  .EntryList li {
    margin: 2rem 3rem 1rem 3rem;
    padding: 1rem 2rem 1rem 2rem;
  }

  .EntryList li p {
    padding-left: 1rem;
  }
}
